<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<f:view locale="en">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<ui:insert name="header">
			<title>Bitibox</title>
		</ui:insert>
	</h:head>
	
	<h:body styleClass="body">
		<ui:insert name="body">
		</ui:insert>
		<ui:insert name="script">
		</ui:insert>
	</h:body>
</f:view>
</html>