.body {
	background: #e9eff3;
}

.panel {
	width: 330px;
	height: 380px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: fff;
}

.panelGrid {
	margin: 0 auto;
	padding-top: 10px;
}

.ui-menubar {
	background: #fff  !important;
	padding: 12px !important;
	font-size: 18px !important;
    width: auto !important;
    margin: 0 !important;
}
